## Imprting the packages used in assignment

In [1]:
import pandas as pd 
import numpy as np

# Q1

In [2]:
# Names of students
data={
"names" : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi', 'Ram', 'Alex', 'James', 'John', 'Supriya', 'Abhinash'],

# Years of study
"years": [1, 2, 3, 2, 1, 4, 3, 2, 1, 2],

# Branches of study
'branches' : ['CSE', 'EE', 'CSIT', 'CSE (AIML)', 'CSE (AIML)', 'CSE', 'CSE (AIML)', 'CSIT', 'CSE', 'EE'],
}
df = pd.DataFrame(data ,index=['a','b','c','d','e','f','g','h','i',"j"])
print(df)

       names  years    branches
a      Ankit      1         CSE
b  Aishwarya      2          EE
c    Shaurya      3        CSIT
d   Shivangi      2  CSE (AIML)
e        Ram      1  CSE (AIML)
f       Alex      4         CSE
g      James      3  CSE (AIML)
h       John      2        CSIT
i    Supriya      1         CSE
j   Abhinash      2          EE

# Q2

In [3]:
d={"names":['Alekh'],'years':['3'],'branch':['CSE']}
d=pd.DataFrame(d)
df=pd.concat([df,d],ignore_index=True)
print(df)

        names years    branches branch
0       Ankit     1         CSE    NaN
1   Aishwarya     2          EE    NaN
2     Shaurya     3        CSIT    NaN
3    Shivangi     2  CSE (AIML)    NaN
4         Ram     1  CSE (AIML)    NaN
5        Alex     4         CSE    NaN
6       James     3  CSE (AIML)    NaN
7        John     2        CSIT    NaN
8     Supriya     1         CSE    NaN
9    Abhinash     2          EE    NaN
10      Alekh     3         NaN    CSE

# Q3

In [4]:
print(df.size)
print(df.info)
print(df.ndim)
print(df.size)
print(df.shape)

44
<bound method DataFrame.info of         names years    branches branch
0       Ankit     1         CSE    NaN
1   Aishwarya     2          EE    NaN
2     Shaurya     3        CSIT    NaN
3    Shivangi     2  CSE (AIML)    NaN
4         Ram     1  CSE (AIML)    NaN
5        Alex     4         CSE    NaN
6       James     3  CSE (AIML)    NaN
7        John     2        CSIT    NaN
8     Supriya     1         CSE    NaN
9    Abhinash     2          EE    NaN
10      Alekh     3         NaN    CSE>
2
44
(11, 4)

# Q4

In [8]:
list1=[8.9,8.8,9.0,7.8,7.5,9.10,9.2,8.4,9.4,8.1,7.4]
df['CGPA']=list1
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   names     11 non-null     object
 1   years     11 non-null     object
 2   branches  10 non-null     object
 3   branch    1 non-null      object
 4   CGPA      11 non-null     float64
dtypes: float64(1), object(4)
memory usage: 572.0+ bytes
None

# Q5

In [ ]:
df={ "marks":[ [90, 92, 89, 81, 94], [91, 81, 91, 71, 86],[85, 86, 83, 80, 75], [97, 96, 88, 67, 65],[93, 89, 78, 87, 65]],"student name":['Ankit','Airshwarya','Ram','James','Alex']}

df=pd.DataFrame(df)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   marks         5 non-null      object
 1   student name  5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes
None

# Q6

In [ ]:
stock = { 'Name': ['RAM', 'Register', 'Keyboard', 'Mouse', 'Flash Drive'], 'Price': [2500, 1000, 1500, 200, 600], 'Quantity': [10, 12, 2, 3, 12] }
df=pd.DataFrame(stock )
print(df.info())
print(df)
scanner = pd.DataFrame({'Name':['Scanner'],'Price':[3500],'Quantity':[69]})
df=pd.concat([df,scanner],ignore_index='True')
df['Total']=df['Price']*df['Quantity']
df=df.drop(columns=['Quantity'])
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   Price     5 non-null      int64
 2   Quantity  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
None
          Name  Price  Quantity
0          RAM   2500        10
1     Register   1000        12
2     Keyboard   1500         2
3        Mouse    200         3
4  Flash Drive    600        12
          Name  Price   Total
0          RAM   2500   25000
1     Register   1000   12000
2     Keyboard   1500    3000
3        Mouse    200     600
4  Flash Drive    600    7200
5      Scanner   3500  241500

# q7

In [ ]:
Employee = { 'Name': ['Atul', 'Shyam', 'Anmol', 'Sheetal', 'Dhruv'], 'Designation': ['Manager', 'Analyst', 'Storekeeper', 'Manager', 'Analyst'], 'Salary': [56000, 35000, 20000, 60000, 380000], 'Bonus': [15000, 10000, 8000, 18000, 12000] }
e=pd.DataFrame(Employee,index=['E101','E102','E103','E104','E105'])
print(e)
print(e.loc[: ,['Name','Designation','Salary']])
print(e.iloc[: ,1:2])
print(e.iloc[1:4,:])
print(e[e['Salary']>35000])

         Name  Designation  Salary  Bonus
E101     Atul      Manager   56000  15000
E102    Shyam      Analyst   35000  10000
E103    Anmol  Storekeeper   20000   8000
E104  Sheetal      Manager   60000  18000
E105    Dhruv      Analyst  380000  12000
         Name  Designation  Salary
E101     Atul      Manager   56000
E102    Shyam      Analyst   35000
E103    Anmol  Storekeeper   20000
E104  Sheetal      Manager   60000
E105    Dhruv      Analyst  380000
      Designation
E101      Manager
E102      Analyst
E103  Storekeeper
E104      Manager
E105      Analyst
         Name  Designation  Salary  Bonus
E102    Shyam      Analyst   35000  10000
E103    Anmol  Storekeeper   20000   8000
E104  Sheetal      Manager   60000  18000
         Name Designation  Salary  Bonus
E101     Atul     Manager   56000  15000
E104  Sheetal     Manager   60000  18000
E105    Dhruv     Analyst  380000  12000

# Q8

In [ ]:
data = pd.read_csv('https://archive.ics.uci.edu/static/public/225/ilpd+indian+liver+patient+dataset.zip')
data.columns=[ 'Age', 'Gender', 'TotalBilirubin', 'DirectBilirubin', 'TotalPro-teins', 'Albumin', 'A/G ratio', 'SGPT', 'SGOT','Alkphos','Class']
# print(data.head())
# print(data.size)
# print(data.ndim)
# print(data.info())
# for i in data.columns:
#     if i=='Age' or i=='Gender':
#         print(data[i])
# print(data[data['Age']>40])
counter=data['Gender'].value_counts()
total=counter['Male']+counter['Female']
# print((counter['Female']/total)*100)
# data.info()
# print(data['TotalPro-teins'].min())
# print(data['TotalPro-teins'].nsmallest(3))
print(data.sort_values(by='TotalPro-teins',ascending=False).head(5))

     Age  Gender  TotalBilirubin  DirectBilirubin  TotalPro-teins  Albumin  \
232   33    Male             2.0              1.4            2110       48
127   58  Female             1.7              0.8            1896       61
428   73    Male             1.9              0.7            1750      102
115   48    Male             0.7              0.1            1630       74
76    68  Female             0.6              0.1            1620       95

     A/G ratio  SGPT  SGOT  Alkphos  Class
232         89   6.2   3.0     0.90      1
127         83   8.0   3.9     0.95      1
428        141   5.5   2.0     0.50      1
115        149   5.3   2.0     0.60      1
76         127   4.6   2.1     0.80      1